.container {
  display: flex;
  gap: 20px;
  margin: 20px;
}

.filter {
  background-color: var(--bgSoft);
  padding: 10px 15px;
  border-radius: 5px;
  color: var(--textSoft);
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter:hover {
  background-color: var(--bg);
  color: var(--text);
}

.applyButton {
  background-color: var(--primaryColor);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.applyButton:hover {
  background-color: #287fb9;
}
