/* accountSettings.module.css */
.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.label {
  font-size: 1rem;
  color: var(--textSoft);
}

.input {
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid var(--textSoft);
  background-color: var(--bgSoft);
  color: var(--text);
}

.saveButton {
  background-color: #4caf50;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.saveButton:hover {
  background-color: #45a049;
}
