/* reportTable.module.css */
.tableContainer {
  background-color: var(--bg);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.tableTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--text);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid var(--bgSoft);
}

.table th {
  font-weight: bold;
  color: var(--textSoft);
}

.table td {
  color: var(--text);
}

.table tr:nth-child(even) {
  background-color: var(--bgSoft);
}
