/* reportSummary.module.css */
.summaryContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.summaryItem {
  display: flex;
  align-items: center;
  background-color: var(--bg);
  border-radius: 8px;
  padding: 1rem;
  flex: 1;
  margin: 0 0.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.icon {
  margin-right: 1rem;
  color: var(--textSoft);
}

.text {
  color: var(--text);
}
