/* reportsPage.module.css */
.container {
  padding: 2rem;
  margin: 20px;
  background-color: var(--bgSoft);
  border-radius: 8px;
  color: var(--text);
}

.pageTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: var(--text);
}
