:root {
  --bg: #121c2c;
  --bgSoft: #182237;
  --text: #ffffff;
  --textSoft: #b7bac1;
  --primaryColor: #3498db;
  --successColor: #27ae60;
  --warningColor: #e67e22;
  --errorColor: #e74c3c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
