/* helpPage.module.css */
.container {
  padding: 2rem;
  margin: 20px;  
  background-color: var(--bgSoft);
  border-radius: 8px;
  color: var(--text);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.section {
  margin-bottom: 3rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
