/* settingsPage.module.css */
.container {
  padding: 2rem;
  background-color: var(--bgSoft);
  border-radius: 8px;
  margin: 20px;
  color: var(--text);
}

.pageTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.settingsSections {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .settingsSections {
    grid-template-columns: 1fr 1fr;
  }
}
